body{
font-size: 25px;
font-family:cursive;
background:orange;
color: white;
display: flex;
justify-content: center;
margin-top: 100px;

}
.game{
font-size: 25px;
background:black;
padding: 20px;
border-radius: 25px;
text-align: center;
}

input, button{
padding: 10px;
margin: spx;
}